{% extends 'base.html.twig' %}
{% block pageheader %}Dashboard{% endblock %}
{% block body %}

                <div class="row">
                    <div class="col-xs-12 col-lg-12 col-xl-12">
                        <div class="card-box">

                            <h2 class="header-title m-t-0 m-b-20">Welcome</h2>

                        </div>
                    </div><!-- end col-->

                    


                </div>
                <!-- end row -->


{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
        <script src="/uplon/assets/pages/jquery.dashboard.js"></script>
{% endblock %}