<p>{{ purchaserFirstName }}{{ purchaserLastName }} has added a new Vendor, <b>{{ vendorName }}</b> to ProjectPro.</p>
<p>To undo or edit this, <a href="https://member.projectprohub.com">log in</a> to ProjectPro, then go to Administration > Vendors.