<p>{{ user.firstName }} {{ user.lastName }} has added a new cost code <b>{{ costCode }}</b> to ProjectPro.
</p>

<p>To undo this, <a href="{{ url('fos_user_security_login') }}">log in</a> to ProjectPro then go to
    Administration > Projects > Edit Project > and delete it.</p>