<p>You have {{ purchasesCount }} purchases that require your attention. Please log into ProjectPro and approve purchases by end of day today.</p>

<a href="{{ url('showCompanyApproverDashboard', {"id" : company.id}) }}">Go to Dashboard now</a>