<h3>Please log into the Projex app on your mobile device and submit your purchases and receipts by end of day today.</h3>

{# https://dashboard.branch.io/quick-links #}
<a href="https://projex.app.link/AYGKzuN0gL">Go to ProjEx now</a>